body {
    background-color: lightpink;
}

.backg {
    opacity: 70%;
    width: 100%;
    height: 400px;
}
.logo {
    width: 100px; height: 70px;
}

.header {
    padding: 8px 10px;
    font-weight: bold;
}

.header ul li{
    display: inline-block;
    /* list-style: none; */
    text-align: center;
}
.header ul li a {
    text-decoration-style: solid;
    color: white;
    padding: 0px 20px;
    margin-top: auto;
}
.header ul li a:hover {
    text-decoration:double;
    color: brown;
}

.sec-1 {
    float: left;
    float: inline-start;
}
.sec-2 {
    float: right;
    float: inline-end;
}

.footer {
    padding: 0 10px;
}
.footer ul li {
    float: left;
    display: inline-block;
}
.footer ul li ~ li::before {
    content: "";
    display: inline-block;
    width: 1px; height: 15px;
    margin: 0 10px;
    background-color: lightslategray;
}